[build]
base = "docs/vitepress_docs"
command = "npm run docs:build"
publish = ".vitepress/dist"

[[redirects]]
  from = "/"
  to = "/de"
  status = 302
  force = true
  conditions = {Language = ["de"]}

# Redirect English language users to the /en subdirectory
[[redirects]]
  from = "/"
  to = "/en"
  status = 302
  force = true
  conditions = {Language = ["en"]}

# Fallback redirect for all other languages to the /en subdirectory
[[redirects]]
  from = "/"
  to = "/en"
  status = 302
  force = true
